<div class="exhibitor-card">
    {{#if usersWhoFavorited.length}}
        <div class="user-indicators">
            {{#each usersWhoFavorited}}
                <div class="user-indicator" 
                     data-user-name="{{displayName this}}" 
                     style="background: {{this.color}}">
                    {{initials (displayName this)}}
                </div>
            {{/each}}
        </div>
    {{/if}}
    <button class="card-favorite-btn {{#if isMyFavorite}}favorited{{/if}}" 
            onclick="toggleFavorite({{id}})">
        <svg viewBox="0 0 24 24">
            <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
        </svg>
    </button>
    <div class="exhibitor-icon">{{icon}}</div>
    <div class="exhibitor-name">{{name}}</div>
    <div class="exhibitor-stand">Stand: {{stand}}</div>
</div>