<wa-card orientation="horizontal" data-user-id="{{id}}">
    {{#if isEditing}}
        <wa-input 
            size="small" 
            id="editInput_{{id}}"
            value="{{#if customName}}{{customName}}{{else}}{{name}}{{/if}}"
            placeholder="Navn">
        </wa-input>
        <wa-button variant="success" size="small" onclick="saveName({{id}})">
            <wa-icon name="check-lg"></wa-icon>
        </wa-button>
        <wa-button variant="default" size="small" onclick="cancelEdit()">
            <wa-icon name="x-lg"></wa-icon>
        </wa-button>
    {{else}}
        <wa-avatar 
            initials="{{#if customName}}{{initials customName}}{{else}}{{initials name}}{{/if}}" 
            label="{{#if customName}}{{customName}}{{else}}{{name}}{{/if}}">
        </wa-avatar>
        
        <div>
            <strong>{{#if customName}}{{customName}}{{else}}{{name}}{{/if}}</strong>
            <small>{{favoritesCount}} favoritter</small>
        </div>
        
        <wa-dropdown id="userSettings_{{id}}">
            <wa-icon-button slot="trigger" name="three-dots-vertical" label="Indstillinger">...</wa-icon-button>
            <wa-menu>
                <wa-menu-item data-action="rename" data-user-id="{{id}}">
                    <wa-icon slot="prefix" name="pencil"></wa-icon>
                    Omdøb
                </wa-menu-item>
                <wa-divider></wa-divider>
                <wa-menu-item data-action="delete" data-user-id="{{id}}">
                    <wa-icon slot="prefix" name="trash"></wa-icon>
                    Slet
                </wa-menu-item>
            </wa-menu>
        </wa-dropdown>
           
        <wa-switch data-user-id="{{id}}" id="userSettings_{{id}}" {{#if isActive}}checked{{/if}}></wa-switch>
    {{/if}}
</wa-card>
